* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  color: white;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.3rem;
  border: none;
  font-size: 2rem;
  border-color: white;
}

form button {
  color: #39aeda;
  background: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

form button:hover {
  background: #39aeda;
  color: white;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: #39aeda;
  cursor: pointer;
  width: 10rem;
  padding: 1rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25bc";
  position: absolute;
  background: #39aeda;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}

.select:hover::after {
  background: #fff;
  color: #39aeda;
  transition: all 0.4s ease;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  min-width: 30%;
}

.todo {
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.completed-btn {
  padding: 1rem;
  border: none;
  background: #fa4745;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.completed-btn {
  background: rgb(123, 255, 123);
}
.trash-btn:hover {
  background: white;
  color: #fa4745;
}
.completed-btn:hover {
  background: white;
  color: rgb(123, 255, 123);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.out {
  transform: translateY(8rem) rotateZ(15deg);
  opacity: 0;
}
